<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<!--
	     ACHTUNG: Aenderung gegenueber der Beschreibung in Kapitel 12.6:
	              Die aktuelle RESTEasy Version benoetigt keine explizite
	              Konfiguration mehr, sondern nur noch ein leeres "web.xml".
	              Voraussetzung: Die EJB bietet ein lokales Business Interface an.
	              Lauffaehig mit Serverversion 6.0.0-CR1 oder hoeher
	  -->
</web-app>
